/* --- css reset --- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

ins {
  background-color: #FFFF99;
  color: #000000;
  text-decoration: none;
}

mark {
  background-color: #FFFF99;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre, code, kbd, samp {
  font-family: monospace,sans-serif;
}

html {
  overflow:hidden;
}

nav ul, nav li {
  list-style: none outside none;
  margin: 0;
}

small {
  font-size: 85%;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ie7 img {
}

a{
  text-decoration:none;
}

a:hover{
  color: #363636;
}

a:visited{
  color: #363636;
}

a:active{
  color:#363636;
}

a:link {
  text-decoration:none;
}

/* === end css reset === */

/* --- general css style --- */

body{
  background-color: #F6F6F6;
  font: 13px/1.231 'PTSansRegular',Arial,sans-serif;
  color: #363636;
  text-shadow: 0 1px 0 #FFFFFF;
  min-width:750px;
}

.clearfix{
  clear:both;
  display:block;
  overflow:hidden;
}

.left{
  float:left;
}

.top-border{
  border-top: 3px solid #E6E6E6;
}

/* === end general css style === */
/* --- header user info --- */
.user-info{
  height: 50px;
  width: 100%;
  text-shadow: 1px 0 0 #666666;
  color: #CCCCCC;
  background-color: #4B535D;
  -moz-box-shadow: 0 2xp 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2xp 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(center top , #4B535D, #3D444C);
  background-image: -webkit-linear-gradient(center top , #4B535D, #3D444C);
  behavior: url(ie-css3.htc);
}

.user-info h1{
  float: left;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding-right: 25px;
  text-align: right;
  width: 225px;
}

.user-info h1 a{
  color:#F6F6F6;
  display:block;
  text-shadow: 0 1px 1px #000000;
}

/* === end header ===*/

/* --- main --- */
.main{
  margin: auto;
  padding-left: 267px;
  width: auto;  
}
/* === end main === */

/* --- main left --- */
.main-left{
  padding: 25px 0;
  width: 267px;
  margin-top:3px;
  background:url(../images/left.png) repeat-y top right #DADADA;
  float:left;
  position:absolute;
  left:0;
  height:100%;
}

.main-left .navigation{
  font-size: 116%;
  margin-bottom: 25px;
  position: absolute;
  width: 292px;
  left:0;
}

.main-left ul{
}

.main-left ul li{
  width:100%;
}

.main-left ul li a{
  display:block;
  height:40px;
  line-height:40px;
  text-decoration:none;
  font-size:16px;
  text-align: right;
  padding-right: 67px;
  text-shadow: 0 1px 1px #CCCCCC;
}

.main-left ul li.current{
  background: url("../images/arrow_grey.png") no-repeat scroll left center transparent;
}

.main-left ul li.current a{
  color:#ffffff;
  text-shadow: 0 1px 1px #000;
}

.main-left ul li a.dashboard{
}

.main-left ul li a:hover{
  color:#2181C2;
}

/* === end main left === */

/* --- container --- */
.container{
  padding:35px;
  height:100%;
}

.container .footer{
  font-size: 12px;
  padding: 20px 0;
  margin: 40px 0 10px;
  text-shadow: 0 1px 1px #DDDDDD;
}

/* == end container css === */

/* --- content article --- */
.content article{
  clear:both;
  overflow:hidden;
}

.content article header{
  border-bottom: 3px solid #E6E6E6;
  height: 30px;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.content article header h1{
  line-height:30px;
  font-size:20px;
  text-shadow: 0 1px 1px #DDDDDD;
}

/* === end content article ===*/
